* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.trees {
  position: absolute;
  width: 100%;
  z-index: 4;
}

.scroll {
  position: relative;
  top: 10em;
  z-index: 2;
  width: 100%;
}

.rocks {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.story {
  margin: 0 auto;
  position: relative;
  top: 17em;
  z-index: 4;
  width: 75%;
}