div {
  box-sizing: border-box;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#group1 {
  position: relative;
  transform-style: preserve-3d;
  font-size: 20px;
}

.scroll {
  transform: translateZ(-0.5px);
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 100px;
  z-index: 2;
}

.rocks {
  position: absolute;
  top: 2em;
  width: 100%;
  z-index: 1;
}

.trees {
  position: absolute;
  width: 100%;
  z-index: 4;
}

.story {
  position: absolute;
  top: 0;
  transform: translateZ(-0.5px);
  width: 100%;
  z-index: 2;
}